@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: #D32F2F;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --ring: black;

    --radius: 0.5rem;
  }

  .dark {
    --background: black;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: #D32F2F;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --ring: white;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .auth {
    @apply min-h-screen w-full flex justify-center items-center pt-10;

  }
}


@layer components {

  .custom_income_btn {
    @apply border-emerald-500 min-w-36 w-36 bg-emerald-950 text-white hover:bg-emerald-700 hover:text-white !important
  }

  .custom_expense_btn {
    @apply border-rose-500 min-w-36 w-36 bg-red-950 text-white hover:bg-rose-700 hover:text-white !important
  }

  .add-project-box {
    @apply h-[200px] w-[350px] rounded-md shadow-md flex flex-col justify-center items-center gap-3 cursor-pointer bg-card border-2 border-dashed
  }

  .custom_input {
    @apply focus:ring-0 focus:ring-transparent focus:border-amber-400 shadow-md !important
  }



}